*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
    
}
:root{
    --color-white:#ffffff;
    --color-light:#828282;
    --color-primary:#12e12e;
    --color-dark:#212121; 
    --color-dark:#1a1919;
    ;
    --color-border:#0c0b0b95;
    --color-bg:#171717;

}
body{
    background: var(--color-bg);
    color: var(--color-white);
}
  h1{
    font-size: 35px;
    font-weight: 400;
    color: white;
    line-height: 30px;
    margin: 1rem 0;
    
    
 }
h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    color:#12e12e;

}
h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    color:var(--color-primary);

}
h5{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color:white;

}
p{
    color:var(--color-white);
    font-size: 17px;
    line-height: 23px;
}
.btn{
    
    display: inline-block;
    width: fit-content;
    border: 1px solid white;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 500;
    transition: .4s ease;
    color:#ffff;
    border-radius: 6px;
}
.btn:hover{
    background: white;
    color: var(--color-bg);
    border-color:transparent ;
}
.btn-primary{
    background: var(--color-primary);
    border-color: transparent;
    
}
.container{
    max-width: 160px;
    width: 90%;
    margin: 0 auto;
    
}
nav{
    height: 5rem;
    width: 100%;
    position:fixed ;
    top:0;
    right: 0;
    
}
.nav-container  {
  
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

}
.top_img{
    display: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 950px;
    margin-inline-end:100px;
    padding-inline-start: 40px;
    
}
.logo h2{
    color: white;
    font-size: 32px;
}
.nav-container ul{
    display: flex;
    align-items: center;
    gap:40px;
}
.nav-container ul li a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    transition: .4s ease;
    
}
.nav-container ul li a:hover{
    color:var(--color-primary);
}
span{
     
    color: var(--color-primary);
    text-shadow:0 0 10px blueviolet;
    
}
header{
    margin-top: 120px;
    

    
}


.header-container{
    display: grid;
    grid-template-columns: 548% 120%;
    align-items: center;
    margin-left: 10%;
}
img{
    width: 170%;
    display: block;
}

.header-container p{
    width: 90%;
    margin: 2rem 0 1rem;
    font-style:normal;
}
.name{
    width: 50px;
    font-size: 60px;
    font-weight: 500;
}
.header-container h5{
    margin: 1rem 0;
    color: var(--color-light);
}
.header-action-aria{
    display: flex;
    gap: 10px;
    align-items: center;
}
#About{
    padding-top:0px;
}
section>h1{
    text-align: center;
    margin-bottom: 44px;
    margin-top: 158px;
}
.about-container p{
    
    margin: 4px auto;
    width: 62%;
    position: absolute;
    margin-left: -26%;
    font-style:normal;
    font-weight: 55px;
    text-align: center;
    font-size: 25px;

    
}
    
    

.about-content{
margin-top: 600%;
display: grid;
margin: 280px 18%;
grid-template-columns: repeat(4,1fr);
justify-content: center;
align-items: center;



}
.about-article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    text-align: center;
}
.about-article img{
    width: 62px;
}
.about-article a{
    color:#3503eb;
}
#Services{
    padding-top: 0%;
    
}

.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:60px;
    margin-top: 100px;
   justify-content: center;
}
.services-article{
    background: var(--color-dark);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    border-bottom: 4px solid transparent;
}
.services-article:hover{
    border-color: var(--color-primary);
}
.services-article img{
    width: 40px;
}
.services-article p{
    font-family:'Times New Roman', Times, serif;
}









#skills{
    padding-top: -1px;
    
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:60px;
    margin-top: 100px;
   justify-content: center;
   text-align: center;

}
.skill-article{
    background: var(--color-dark);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding:16px 90  px;
    border-radius: 14px;
    
    border-bottom: 4px solid transparent;
}


#Blog .row{
    width: 80%;
    margin: auto;
}
#Blog .row .header{
    width: 60%;
    text-align: center;
    margin: auto;
}
#Blog .row .header h1{
   padding-top: 280px;
   gap: 19px;
}
 .header h1{
  margin:29px ;
}
#Blog .row .header p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.3;
}
.content .card img{
    width: 100% ;
    height: auto;
}
.content .card p{
    font-size: 20px;
    line-height: 1.2;
}
.content{
 display: flex;
  align-items:center;
  justify-content:space-between;
  margin: 44px;
  
}
.content .card{
    flex: 2;
    margin: 50px 50px;
    box-shadow: 0px  4px 0px rgba(0,0,0,0,1);
    background-color: #212121;
    border-radius: 19px;
}


#Contact{
    padding-top: 120px;
}
.contatact-container{
    margin-top: 80px;
}
form{
    width: 60%;
    margin: 0 auto;
    position: absolute;
    margin-left: -25%;
}
.form-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px
}
form input{
    padding: 10px;
    background: transparent;
    margin-bottom: 30px;
    color: var(--color-light);
    border: none;
    box-shadow: 0 1px 0 0 var(--color-border);
    transition: .4s ease;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}
form input:focus{
    border-bottom: 1px solid blueviolet;
    color:var(--color-primary);
    box-shadow: none;
}
.form-bottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.form-bottom textarea{
    width: 100%;
    padding: 9px;
    height: 100px;
    background: transparent;
    resize: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-top: 17px;
    border: 1px solid var(--color-border);
    color: var(--color-primary);
}
.form-bottom textarea :focus{
border-bottom: 1px solid blueviolet;
}

footer{
    margin-top:500px ;
    margin-bottom: 40px ;
    text-align: center;
    color:var(--color-border);
}
.naWinScroll{
    background: var(--color-dark);
    box-shadow: 0 0.1rem rgba(0,0,0,0,7);
}



@media (max-width:600px) {
    .logo{
        display: none;
    }
    nav{
        right: 115%;
    }
    .ul a{
       background-color: #07dd0095; 
    }
    .header-right{
        display: none;
    }
    .header-left{
        font-size: 20px;
        width: 100px;
        text-align: center;
    }
    .top_img{
        display: block;
        width: 230px;
        padding-left: 120%;
        border-radius: 10%;
    }
    .p_img{
        border-radius: 50%;
        height: 10%;
    }
    .header-left h1{
        padding-top: 0%;
        font-size: xx-large;
        text-align: center;
    }
    .header-left h1 p{
       
        font-size: x-large;
        text-align: center;
    }    
    .header-left p{
        font-size: small;
        width: 300px;
        text-align: center;
    }
    .header-left h5{
        width: 300px;
        font-size: small;
    }
    .header-action-aria{
        padding-left: 30%;
    }
    #About h1{
        font-size: xx-large;
    }
    .about-container p{
        font-size: small;
        width: 300px;
        padding-left: 15%;
    }
    .about-content{
        gap: 10%;
        padding-top: 20%;
        width: 250px;
    }
    .services-container{
        display: block;
        padding-right: 65%;
        
    }
    .services-article{
        width: 300px;
        background-color: #494747;
        
    }
    .skills-container{
        grid-template-columns: auto;
        
    }
    .skills-container h4{
        display: block;
        width: 5vw;
        height: 10vh;
    }
    .skill-article{
       width: 10px;
       padding-left: 0%;
       margin-left: 0%;
    }
    .header p{
        padding-top: 50px;
        font-size: small;
        width: 100%;
    }
    .content{
        margin: 0%;
        display: block;
        width: auto;
        padding-top: 30%;
       
    }
    .form-top{
        display: block;
        padding-left: 10%;
        text-align: center;
    }
    .form-bottom{
        padding-left: 20%;
    }
    footer{
        padding-top: 20%;
        color: #889189;
    }
}